<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dwiastari.wiss">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/logokeluargaku"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logokeluargaku"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wiss">
        <activity
            android:name=".ui.admin.slide.SlideAdminActivity"
            android:exported="true" />

        <activity
            android:name=".ui.admin.layanan.LayananAdminActivity"
            android:exported="true" />
        <activity
            android:name=".ui.admin.IsiKegiatanAdminActivity"
            android:exported="true" />
        <activity
            android:name=".ui.admin.KegiatanAdminActivity"
            android:exported="true" />
        <activity
            android:name=".ui.admin.DashboardActivity"
            android:exported="true" />
        <activity
            android:name=".ui.admin.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".DaftarActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>